apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmGlobals:
  chartHome: ../../../
helmCharts:
  - name: fiware-platform
    version: 1.0.0
    releaseName: marinera
    namespace: argocd
    valuesFile:
      values.yaml