{{ if eq .Values.broker.metrics.enabled "true"  }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "orion.fullname" . }}-metrics
  {{- if .Values.service.annotations }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{ include "orion.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 7979
      targetPort: 7979
      protocol: TCP
      name: http-metrics
  selector:
    app.kubernetes.io/name: {{ include "orion.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end -}}